body {
    background-image: url(https://monodomo.com/free-wallpapers/anime-dark-landscape-wallpaper-images-For-Free-Wallpaper.jpg);
    background-repeat:no-repeat;
    color: white;
}
a{
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  
  .topnav a.active {
    background-color: cornflowerblue;
    color: white;
  }