body {
    background-image: url(https://monodomo.com/free-wallpapers/anime-dark-landscape-wallpaper-images-For-Free-Wallpaper.jpg);
    background-repeat:no-repeat;
    color: white;
}
a{
    color: white;
}